.memo {
  position: absolute
  left: 0
  top: 0
  background-color: #FEF49C
  width: 20vw
  display: flex
  flex-direction: column
  min-height: 200px
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1)

  >header {
    height: 14px
    flex-shrink: 0
    background-color: rgba(0, 0, 0, 0.05)
    user-select: none
    cursor: move
  }

  >main {
    flex-grow: 1
    font-size: inherit
    resize: none
    border: none
    padding: 1em
    background-color: inherit

    &:focus {
      outline: none
    }
  }

  &.draging {
    z-index: 100
    opacity: 0.6
  }
}