
* {
  margin: 0
  padding: 0
  box-sizing: border-box
}

ul, ol {
  list-style: none
}

body {
  position: relative
  background-color: #fefefe
  font-family: Helvetica, Arial, sans-serif
  font-size: 14px

  >header {
    left: 0
    top: 0
    right: 0
    background-color: #fff
    position: fixed
    z-index: 2
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05)
    display: flex

    .logo {
      padding-left: 10px
      font-size: 36px
      font-weight: 100
      height: 60px
      display: flex
      align-items: center

      .icon-memo {
        font-size: 50px
      }
    }

    .new {
      margin-left: 100px
      display: flex
      align-items: center

      .btn {
        border: 0.5px solid #333
        padding: 0 10px
        height: 30px
        line-height: 30px
        cursor: pointer
      }
    }
  }

  >main {
    position: relative
    z-index: 1
    margin-top: 60px
  }
}